/* Banner CSS */
.banner {
  display: flex;
  width: 95%;
  height: auto;
  margin-top: 8%;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  margin-top: 30px;
  column-gap: 20px;
  position: relative;
  left: 62px;
  min-width: none;
 
}

@keyframes animarTexto {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    transform: translateY(13px);
  }
}

.bannerContent img {
  width: 0 auto;
  margin-bottom: 20px;
}

.bannerContent h2 {
  font-size: 2.6rem;
  margin-bottom: 20px;
  text-align: center;
  color: #9E8A78;
  font-family: 'Prata', serif;
  font-weight: 530;
}

.bannerContent h3 {
  font-family: 'Prata', serif;
  font-size: 20px;
}

.bannerContent p {
  text-align: center;
  max-width: 570px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #757575;
  font-weight: 550;
}

.bannerContent a {
  position: relative;
  margin-top: 4%;
  padding: 16px 27px 27px;
  right: 40px;
  font-size: 12px;
  font-weight: bold;
}

.btnA {
  margin-left: 90px;
  background-color: #9D8977;
  max-width: 300px;
  color: white;
  padding: 20px 10px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 1px;
  overflow: hidden;
  z-index: 1;
}

.btnA::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: -1;
}

.btnA:hover::before {
  transform: scaleX(1);
}

.bannerImages {
  width: 50%;
  height: 20%;
  object-fit: cover;
}

.bannerImages img {

  width: 50%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;

}

.about01 {
  position: relative;
  width: 50%;
  height: auto;
  left: 0;
  bottom: 3rem;
  z-index: 2;
  border-radius: 2%;
  margin-bottom: 30px;
  
}

.about02 {
  position: relative;
  width: 40%;
  height: auto;
  top: 8.9vw;
  left: -2vw;
  z-index: 3;
  border-radius: 2%;
  margin-bottom: 30px;
}

.about03 {
  position: relative;
  border-radius: 2%;
  width: 40%;
  height: auto;
  bottom: 8rem;
  left: 2vw;
  margin-bottom: 30px;
  z-index: 4;
}

@media (max-width: 1200px) {
  .about01 {
    position: relative;
    width: 40%;
    height: 40%;
    left: 60px;
    top: 3rem;
    z-index: 2;
    border-radius: 2%;
  }
  .about02 {
    position: relative;
    width: 45%;
    height: 34%;
    top: 60px;
    right: -10px;
    z-index: 3;
    border-radius: 2%;
  }
  .about03 {
    position: relative;
    width: 45%;
    height: 50%;
    bottom: 30px;
    left: 100px;
    z-index: 4;
    border-radius: 2%;
  }
}

@media (max-width: 720px) {

  .banner {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20%;
    margin-bottom: 0;
  }

  .bannerContent{
    width: 100%;
    left: 0;
    padding: 0 20px;
  }
  .about01 {
    display: none;
  }
  .about02 {
    display: none;
  }
  .about03 {
    display: none;
  }
}