/* Blog Section CSS */
.Blog-section {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
}

.Blog {
  background-color: #F6F6F6;
  padding: 100px 200px 120px 200px;
}

.Blog-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.Blog-title h2 {
  font-family: 'Prata', serif;
  font-size: 36px;
  color: #303133;
  font-weight: 400;
}

.Blog-title h3 {
  font-family: 'Prata', serif;
  font-size: 17px;
  color: #303133;
  font-weight: 400;
}

.Blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
}

.Blog-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.Blog-text {
  padding: 30px;
  background-color: #FFFFFF;
}

.Blog-text h2 {
  font-family: 'Prata', serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.Blog-text p {
  font-family: 'Lato', serif;
  font-size: 16px;
}

.Blog-text-indication {
  position: relative;
  font-family: 'Work Sans', sans-serif;
  bottom: 59px;
  right: 30px;
  font-family: 'Lato', serif;
  font-size: 12px;
  background-color: #9E8A78;
  color: #FFFFFF;
  padding: 8px 15px;
}

.ImgBlog {
  width: 100%;
  height: auto;
    filter: grayscale(0%);
}
.ImgBlog:hover {
  filter: grayscale(100%);
  transition: transform 0.3s ease;
}


@media screen and (max-width: 768px) {
  .Blog {
    padding: 50px 20px 60px 20px;
  }
  .Blog-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}