.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #222227;
  border-top: 1px solid rgba(255, 255, 255, 0.281);
}

.footer p {
  color: #DDD;
  margin: 0;
}

.footer nav {
  display: flex;
  gap: 20px;
}

.footer nav a {
  text-decoration: none;
  color: #DDD;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer nav a:hover {
  color: #9e8a78;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
