.load {
    background-color: #FCF9F5;
}

.loading {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    min-height: 100svh;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo {
    display: block;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 12px solid #9e8a78;
    border-right: 12px solid transparent;
    animation: RotateLoad 0.9s linear infinite;
}

.circulo2 {
    position: absolute;
    top: 50%;
    left: 50%; /*só assim pra essa bomba centralizar*/
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #9e8a78;
    border-right: 4px solid transparent;
    animation: RotaLoad 0.9s linear infinite;
}

@keyframes RotateLoad {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes RotaLoad {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}