/* Services CSS */
.servicesSection {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #FCF9F5;
  font-family: "Prata", serif;
}
.hero-content{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top:1px solid #EEEEEE;
  padding: 50px 20px 0px 20px;
}
.hero-content h2{
  font-size: 36px;
  font-family: 'Prata',serif;
  color: #303133;
}
.hero-content h3{
  font-size: 17px;
  font-family: 'Prata',serif;
  color: #9E8A78;
 
}
.hero-box{
  background-color: #FFFFFF;
  margin: 30px;
  padding: 30px;
  text-align: center;
  font-family: 'Prata', serif;
  animation: animarTexto 2s ease-in-out forwards;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  border-radius: 2px;
  
}