
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Outfit:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* resetando o site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}
html, body {
  overflow-x: hidden;
}
root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg992px: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.Application {
  text-decoration: none;
  background-color: #f8f9fa;
  
}
 
.App-header {
  background-color:#343a40;/* dark- aprender como azer isso com variavel */

}

.center {
  max-width: 940px;
  margin: 0 auto;
 
  padding: 0 2%;
  display: flex;
  
}

h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p, li, a, span{}

span.price {}
p{
    font-size: 16px;
    margin-bottom: 15px;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
/* barra lateral css*/
::-webkit-scrollbar {
  width: 8px;
  height: 22px;
}

/* fundo da barra */
::-webkit-scrollbar-track {
  background: #fff;
}


::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #9e8a78;
}

::selection {
    background-color: #9e8a78;
    color: #fff
}

-webkit-::selection {
    background-color: #9e8a78;
    color: #fff
}
/*header css*/
header {
  width: 100%;
  height: 80px;
  background-color: #222227;
  position: fixed;
  z-index: 9999999;
 
}

.logo img{
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;

  cursor:pointer;
}
.navegation  {
  width: 100%;
  display: flex;  
  align-items: center;
  
  gap: 3px;
 
  min-width: 70%;
  font-size: 11px;
  margin-top: 1%;
} 

a{
  text-decoration: none;
  color:#f8f9fa;
  
}

.options{
  display: flex;
  color: white;
  flex-direction: row;
  width: 120%;
  justify-content: flex-end;
  gap: 20px;
  text-decoration: none;
  list-style: none;
}

.header-btn{
  margin-left: 90px;
  background-color: #9D8977;
  max-width: 300px;
  color: white;
  padding: 15px 20px;
  cursor:pointer;
  border-radius: 1px;
}

.header-btn:hover{
  background-color: #857568 ;
  transition: 0.3s;
}




/* carrossel */
.interface{
 max-width: 1280px; 
 margin: 0 auto;
 padding: 0 4%;

 font-family: "Prata", serif;
}

.slider{
  height: 100vh;
  position: relative;
}

.slider .slider-container .slider-box{
  
  position: absolute;
  inset: 0;
  overflow: hidden;
  opacity: 0;
}
.slider .slider-box img{
  width: 100%;
  height: 110vh;
  object-fit: cover;
 
}
.slider .slider-box::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top,#000, transparent);
} 

.slider .slider-box .texto-slider{
  position: absolute;
  top: 35%;
  left: 10;
  color: white;
  margin-left: 10%;
  z-index: 1; /* determina quem fica por cima */
  max-width: 600px;
  
}

.slider .slider-box .texto-slider h2{
  font-size: 4rem;
  
}
/* cria uma animação */
@keyframes animarTexto{
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  0%{
    opacity: 0;
    transform: translateY(13px);
  }
}
.slider .slider-box.ativo a,
.slider .slider-box.ativo h2,
.slider .slider-box.ativo  p{
  animation: animarTexto 2s ease-in-out forwards;
}
.slider .slider-box.ativo h2{
  animation-delay: 0.2s;
}
.slider .slider-box.ativo{
  opacity: 1;
  z-index: 9;
  margin-top: 70px;
}
.setas{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0 4%;
  z-index: 26;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.setas button{
  width: 35px;
  height: 35px;

  background-color: #777777;
  color: black;
  font-size: 1.2rem;
  border: 0;
  border-radius: 30%;
  cursor: pointer;
}
.btn-s {
  position: relative;
  top: 20px;
  right: 12px;
  background-color: #9D8977;
  max-width: 200px;
  color: white;
  margin: 10px ;
  padding: 10px 5px;
  cursor:pointer;
  border-radius: 1px;
  overflow: hidden;
  z-index: 1;
 
}

/* fundo animado */
.btn-s::before {
  content: '';
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: -1;
}

/* hover */
.btn-s:hover::before {
  transform: scaleX(1);
}





/* Banner */

.banner{
  display: flex;
  width: 95%;
  height: 50vh;
  margin-top: 8%;
 
}
.banner-content{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  height: 100%;
  margin-top: 60px;
  column-gap : 20px;
  position: relative;
  left: 62px;
  min-width: none;
  
  animation: animarTexto 2s ease-in-out forwards;
}
.banner-content img{
  width: 0 auto;
  margin-bottom: 10px;
}
.banner-content h2{
  font-size: 2.6rem;
  margin-bottom: 20px;
  text-align: center;
  color: #9E8A78;
  font-family: 'Prata', serif;
  font-weight: 530;

}
.banner-content h3{
  font-family: 'Prata',serif;
  font-size: 20px;

}
.banner-content p{
  text-align: center;
  max-width:570px;
  font-size: 1 rem;
  font-family: 'Lato', sans-serif;
  color: #757575;
  font-weight: 550;
}
.banner-content a{

  position: relative;
  margin-top: 4%;
  padding: 16px 27px 27px ;
  right: 40px;
  font-size: 12px;
  font-weight: bold;
  
}

.btn-a {
  
  margin-left: 90px;
  background-color: #9D8977;
  max-width: 300px;
  color: white;
  padding: 20px 10px;
  margin-bottom: 30px;
  cursor:pointer;
  border-radius: 1px;
  overflow: hidden;
  z-index: 1;
 
}

/* fundo animado */
.btn-a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: -1;
}

/* hover */
.btn-a:hover::before {
  transform: scaleX(1);
}






.banner-image{
  width: 40%;
  height: 20%;
  object-fit: cover;
  
}
.banner-images img{
 
  width: 50%;
  height: 75%;
  border-radius: 10px;
  object-fit: cover;
  
}

.about01{
  position: relative;
  width: 45%;
  height: 45%;
  left: 30px;
  z-index: 2;
}
.about02{
  position: relative;
  width: 90%;
  height: 90%;
  top: 60px;
  right: 60px;
  z-index: 3;
}
.about03{
  position: relative;
  bottom: 30px;
  left: 60px;
  z-index: 4;
}

/*responsividade do site*/
@media (max-width: 1150px) {
   .about01{
  position: relative;
  width: 10%;
  height: 10%;
  left: 30px;
  
  z-index: 2;
}
.about02{
  position: relative;
  width: 20%;
  height: 20%;
  top: 60px;
  right: 60px;
  z-index: 3;
}
.about03{
  position: relative;
  bottom: 30px;
  left: 60px;
  z-index: 4;
}

}

@media (max-width: 720px) {
.about01{
  display: none;
}
.about02{
  display: none;
}
.about03{
  display: none;
}
}


/* hero */
/*deixar o site responsivo na parte  do hero*/

.hero{
  width: 100%;
  height: 70vh;
  background-color: #F7F2EF ;
  margin-top: 15%;
  border: #000;
  
}
.hero-content{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top:1px solid #EEEEEE;
  padding: 50px 20px 0px 20px;
}
.hero-content h2{
  font-size: 36px;
  font-family: 'Prata',serif;
  color: #303133;
}
.hero-content h3{
  font-size: 17px;
  font-family: 'Prata',serif;
  color: #9E8A78;
 
}
.hero-box{
  background-color: #FFFFFF;
  margin: 30px;
  padding: 30px;
  text-align: center;
  font-family: 'Prata', serif;
  animation: animarTexto 2s ease-in-out forwards;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  border-radius: 2px;
  
}
.bi-scissors {
  width: 4rem;
  height: 4rem ;
  align-items: center;
}


.bs-scissors:before {
    content: "\e92b";
    
}

.hero-text{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 colunas */
  gap: 2px;

  margin:0 auto;
  padding: 10px;
  margin: 30px;
  max-width: 92% ;
 
  align-items: center;
  margin-left: 4%;
  justify-content: center;
  
}
@media (max-width: 1150px) {
  .hero-text {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero{
    margin-top: 25%;
  }
}

@media (max-width: 720px) {
  .hero-text {
    grid-template-columns: 1fr;
  }
  .hero{
    margin-top: 50%;
  }
}
.img-hero{
  width: 100%;
  height: 70%;
  max-height: 660px;

  

}

/* Appontament Forms*/

option {
  background-color: #1f1f1f;
  color: white;
}
select {
  background-color: #1f1f1f;
  color: white;
  border: 1px solid rgba(255,255,255,0.4);
  padding: 14px;
}
select:focus {
  outline: none;
  box-shadow: none;
  border-color: #c7a17a;
}

.Appontament{
  display: flex;
  min-height: 600px;
  margin-top: -1%;
}

.Div-Apponntament{
 flex: 1;

}

.Img-Appontament{
  width: 110%;
  height: 100%;
  object-fit: cover;
}
/*  formulários css */
.Formulario{
  flex: 1;
  background: #1f1f1f;
  color: #fff;
  padding: 70px 150px 70px 120px;

}
.Formulario p{
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  margin: 30px
}
.Formulario h2{
  font-size: 32px;
  font-family: 'Prata' ,serif;
  margin: 30px;
}
.Formulario form{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap:20px;
 margin: 30px;
}

.Formulario input,
.Formulario select {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  padding: 14px;
  color: #fff;
  font-size: 14px;
}

.Formulario input::placeholder{
  color: rgba(255,255,255,0.6);
}
.Formulario button {
  grid-column: span 2;
  background: #c7a17a;
  border: none;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.Formulario button:hover {
  background: #b08b63;
}
/* services */

.services-section{
  max-width: 1280px; 
  margin: 0 auto;
  padding: 0 4%;
  background-color: #FCF9F5;
  font-family: "Prata", serif;
}




/* team */
.services_section{
  background-color: #FFFFFF;
}
.container{
  display: flex ;
  justify-content: center;
  padding: 30px;
   background-color: #FFFFFF;
}

.team_members  {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 10px;
  padding: 30px 50px ;
  list-style: none;
  animation: animarTexto 2s ease-in-out forwards;
  
}

.img-barber{
  width: 265px;
  height: 270px;

}

.team_member {
  position: relative;      /* referência pro overlay */
  overflow: hidden;
}

.team_member img {
  width: 100%;
  display: block;

}

/* OVERLAY ESCONDIDO */
.team_member .overlay {
  position: absolute;
  inset: 0;                /* top, right, bottom, left = 0 */
  background: rgba(0, 0, 0, 0.7);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;              /* escondido */
  transition: 0.4s ease;
}

/*  QUANDO PASSA O MOUSE */
.team_member:hover .overlay {
  opacity: 1;
  filter: grayscale(100%);
}
.overlay {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.4s ease;
}

.team_member:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}


/* PRICE */

.price{
   /*background-color: #FCF9F5;*/
   background-color: #F7F2EF ;
}
.price-content{
  
  font-family: 'Lato' ,sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 margin: -50px 210px 50px 210px ;
  gap: 40px;
  padding: 80px;
  align-items: center;
}
.price-line {
  display: flex;
  align-items: center;
}
.price-text h3{
   font-family: 'Prata',serif;
   font-size: 17px;
   background-color: #9e8a78;
   color:#FFFFFF ;
   width: 40%;
   align-items: center;
   white-space: nowrap;
   padding: 10px;
}
.price-line h4 {
  font-family: 'Prata', serif;
  font-size: 18px;
  color: #333333;
  margin: 0;
  font-weight: 400;
  white-space: nowrap;
}

.price-line .line {
  flex: 1;
  border-bottom: 1px dashed #bbb;
  margin: 0 10px;
}

.price-line .price {
  font-family: 'Prata',serif;
  font-size: 25px;
  font-weight: bold;
  color: #a58d7f;
  white-space: nowrap;
}
.price-item{
  margin:20px 0 0 0 ;
}
.price-item p{
  font-family: 'Lato',serif;
  color: #777777;
  font-size: 16px;
}



/* ==========================================================================
   1.0 imagem background Section
   ========================================================================== */
   
.Sec-img{
 
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center ;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  
}   

.section-img{
  display: flex;
  
  height: 30rem;
  align-items: center;
  justify-content: center;
  text-shadow: #000;
}
.division-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
}
.division-img h2{
  font-family: 'Prata',serif;
  font-size: 42px;
  color: #FFFFFF;
}
.division-img p{
  font-size: 16px;
  font-family: 'Lato', serif;
   color: #FFFFFF;
   font-weight: 700;
}


/* ==========================================================================
   13. BLOG Section
   ========================================================================== */


.Blog-section{
    width:100%;
    height: 100%;
    background-color: #F6F6F6;
}   
.Blog{
    background-color: #F6F6F6;
    
    padding: 140px 200px 140px 200px;
  } 

.Blog-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
 .Blog-title h2{
     
   font-family:'Prata',serif ;
   font-size:36px ;
   color: #303133;
   font-weight: 400;
 } 
 .Blog-title h3{

    font-family:'Prata',serif ;
   font-size:17px ;
   color: #303133;
   font-weight: 400;
 } 
.Blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 30px;
    justify-content: space-between;

  }
.Blog-items{
    display: flex;
    flex-direction: column;
   padding: 30px;
    
}
.Blog-text{
   padding: 30px;
   background-color: #FFFFFF;
}
.Blog-text h2{
  font-family:'Prata',serif ;
   font-size:18px ;
   margin-bottom: 15px;
}

.Blog-text p{
  font-family: 'Lato',serif;
  font-size: 16px;
}

.Blog-text-indication{
  position: relative;
  font-family: 'Work Sans',sans-serif;
  bottom:62px; 
  right: 30px;
  font-family: 'Lato',serif;
  font-size: 12px;
  background-color: #9E8A78;
  color:#FFFFFF;
  padding: 8px 15px;
}
.Img-Blog{
  width: 90%;
  height: auto  ;

}
/* ===========================================
   scroll section 
  ============================================  */
Scroll {
  width: 100%;
  overflow: hidden;
}

.Scroll-container {
  display: flex;
  border-top:1px solid #EEEEEE;
  gap: 10px;
  width: max-content;
   overflow: hidden;
  animation: scrollInfinito 8s linear infinite;
}

.Scroll-item {
  flex: 0 0 auto;
  padding: 30px 20px;
  white-space: nowrap;
  
}


@keyframes scrollInfinito {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}




/* SUB-FOOTER parte de cima do footer com a mesma cor*/

.section-widget{
  unicode-bidi: isolate;
  color:#999999;
}
.Div-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #222227;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 180px;

}

.Div-container-spaces{
    display: flex;
    flex-direction: column;
    margin:14px;
    
}

.Div-container-spaces h3{
  color: white;
  font-size: 17px;
  font-family: 'Prata',serif;
  margin-bottom: 15px;
  font-weight: 600;
}
.ul-icons{
  display: flex;
  justify-content: flex-start;
  gap:13px;
}
.icons{
  cursor: pointer;
}

.ul-icons p{
  margin-top: 16px;
  font-family: 'Lato',serif;
}

.logo-foot{
  width: 200px ;
  height: 60px;
  margin: 0 0 15px;
}


.Div-container-spaces input{
  grid-column: span 1;
  background: #7A7A7D;
  
  margin: 10px 0;
  border: none;
  padding: 14px;
  font-weight: bold;
  
  transition: 0.3s;
}

.Div-container-spaces input::placeholder{
  color:#DDDDDD;
}
.footer-btn{
    padding: 12px;
    background-color: #8E7B6A;
    border: none;
    cursor: pointer;
    color: #ddd;
    font-size: 12px;
    font-family: 'Work Sans',sans-serif;
    
}
.footer-btn:hover {
  background: #6a5b46
}
/* ==========================================================================
   14.0 Footer Section
   ========================================================================== */
.footer_section{
    display: block;
    background-color: #222227;
    border-top: 1px solid #333;
    padding: 30px 0;
}
.footer_section .copyright{
    font-size: 14px;
    color: #ddd;
}
.footer_social{
    display: block;
    text-align: right;
}
.footer_social li{
    display: inline-block;
}
.footer_social li a{
    font-family: "Work Sans",sans-serif;
    color: #ddd;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
}
.footer_social li a:hover{
    color: #9e8a78;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #222227;
   border-top: 1px solid rgba(255, 255, 255, 0.281);
}
footer a{
  position: relative;
  margin:20px;
  right: 100px;
}
footer p{
  color: #DDD;
}